body{
    
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{

    border:10px solid;
    color:greenyellow;
    align-content: center;
    margin: 0%;
}

p{

    border-block-color: inherit;
    color: lightcoral;
}